<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>广工二手书网</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script src="__PUBLIC__/js/require.js"
	data-main="__PUBLIC__/js/login_main" defer async="true"></script>
</head>
<body>
	<div class="headerBar">
		<div class="topBar">
			<div class="comWidth">
				<div class="leftArea">
					欢迎来<a href="__APP__">广工二手书网</a>！ &nbsp; <a href="__APP__/home/Login">登录</a> <a
						href="__APP__/home/Register">免费注册</a>
				</div>
			</div>
		</div>
	</div>
	<div class="login">
		<div class="log_header">
			<a href="__APP__"><img src="__PUBLIC__/images/logo.png" alt=""></a>
		</div>
		<!-- 登陆框 -->
		<div class="log_wrap">
			<div class="pic">
				<img src="__PUBLIC__/images/login.jpg" alt="">
			</div>
			<div class="log_body">
				<p class="title">登录</p>
				<div class="log_form">
					<form action="__APP__/home/Login/userLogin" method="post">
						<!-- 账号 -->
						<div class="account">
							<span></span> <input type="text" placeholder="用户名" id="username"
								name="username">
						</div>
						<p class="tips">
							<span id="accountmessage" style="display: none">请输入长度为6-16位的账号</span>
						</p>
						<!-- 密码 -->
						<div class="password">
							<span></span> <input type="password" placeholder="密码"
								id="password" name="password">
						</div>
						<p class="tips">
							<span id="passwordmessage" style="display: none">请输入长度为6-20个字符的密码</span>
						</p>
						<!-- 验证码 -->
						<div class="cap_wrap">
							<div class="captcha">
								<span></span> <input type="text" placeholder="验证码" id="captcha"
									name="captcha">
							</div>
							<img src="__APP__/home/Register/verify" title="点击更换图片"
								alt="点击更换图片" id="imgvcode" name="imgvcode"
								onClick="this.src='__APP__/home/Register/verify/'+Math.random()" />
						</div>
						<p class="tips">
							<span id="captchamessage" style="display: none">请输入图片中的字符，不区分大小写</span>
						</p>
						<!-- 登录 -->
						<button type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
