<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>交易</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="headerBar">
		<!-- 顶部导航 -->
		<div class="topBar">
			<div class="comWidth">
				<div class="leftArea">
					欢迎来<a href="__APP__">广工二手书网</a>！ &nbsp;
					<?php if(!session('us_id')) echo '<a href="__APP__/home/Login">登录</a> <a href="__APP__/home/Register">免费注册</a>'; else echo session('us_id').' '.'<a href="__APP__/home/Login/logout">退出登录</a>'; ?>
				</div>
				<div class="rightArea">
					<ul>
						<li><a href="__APP__/home/Sale">发布二手书</a></li>
						<li><a href="__APP__/home/Collection">收藏夹</a></li>
						<li><a href="__APP__/home/Center">个人中心</a></li>
						<li>
							<?php if(session('us_id')) echo '<a href="__APP__/home/Center">你有[ '.$amount.' ]条未读通知 </a>'; ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 搜索栏 -->
		<div class="logoBar comWidth">
			<div class="logo fl">
				<a href="__APP__"><img src="__PUBLIC__/images/logo.png"
					alt="广工二手书网"></a>
			</div>
			<div class="searchBox fl">
				<form method="get" action="__APP__/home/Search/search">
					<input type="text" class="search_text" name="keyword"> <input
						type="submit" class="search_btn" value="搜索">
				</form>
			</div>
			<div class="qrcode fr">
				<a href="#"><img src="__PUBLIC__/images/erweima.png" alt=""></a>
			</div>
		</div>
		<!-- 页面导航 -->
		<div class="nav_top">
			<div class="comWidth">
				<ul>
					<li class="all"><span>全部商品分类</span><i></i></li>
					<li><a href="__APP__">首页</a></li>
					<li><a href="#">书店区</a></li>
					<li><a href="#">资讯</a></li>
					<li><a href="#">社区</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content comWidth">
		<!-- Breadcrumb 导航-->
		<div class="breadcrumb">
			<a href="__APP__">广工二手书网</a> <span>></span><span class="current">交易
			</span>
		</div>
		<div class="aside fl">
			<div class="sort_box">
				<h3>图书</h3>
				<ul>
					<li class="on"><span class="m"></span> <a
						href="__APP__/home/List/index/<?php echo $type['ty_nu']; ?>"
						class="t"> <?php echo $type['ty_na']; ?>
					</a>
						<div class="link">
							<?php foreach($subtype as $k=>$v){if($v['su_na'] != $typeDetail['su_na']){ echo '<span><a href="__APP__/home/List/index/'.$v['ty_nu'].'/'.$v['su_nu'].'">'.$v['su_na'].'</a></span>';}else{ echo '<span><a href="__APP__/home/List/index/'.$v['ty_nu'].'/'.$v['su_nu'].'" class="now">'.$v['su_na'].'</a></span>';}} ?>
						</div></li>
				</ul>
			</div>
			<div class="hot_box">
				<h3>热卖商品</h3>
				<ul>
					<li><a href="#" class="pic"><img
							src="__PUBLIC__/images/book/hot-1-1.jpg" alt="" /></a>
						<p class="data">
							<a href="#">成大事者不纠结</a>
						</p>
						<p class="author_a">罗振宇</p></li>
				</ul>
			</div>
		</div>
		<div class="book_info fr">
			<table>
				<thead>
					<tr>
						<th class="c1">商品名称</th>
						<th class="c2">单价</th>
						<th class="c2">新旧程度</th>
						<th class="c2">状态</th>
						<th class="c2">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="goods_name"><a href="" class="goods_img"><img
								src="__PUBLIC__/images/book/<?php echo $book['bo_co'] ?>" alt="" /></a>
							<div class="goods_detail">
								<a href=""> <?php echo $book['bo_na'] ?>
								</a>
							</div>
							<div class="goods_public">
								<span> <?php echo '第 '.$book['bo_or'].' 版'; ?> &nbsp;/
									&nbsp;<?php echo $book['bo_pu'] ?>
								</span>
							</div></td>
						<td class="row2"><em> <?php echo $book['bo_pr'].' 元'; ?>
						</em></td>
						<td>
							<?php echo $book['bo_de'].' 成新'; ?>
						</td>
						<td>交易中</td>
						<td class="row5"><a href="__APP__/home/Center">个人中心</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="seller_info fr">
			<h3>卖家信息（建议主动联系卖家）</h3>
			<div class="seller_inner">
				<div class="row_in">
					<label class="row_name">用户名：</label> <span class="row_text">
						<?php echo $seller['us_na'] ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">校区：</label> <span class="row_text">
						<?php echo $seller['us_ca'] ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">地址：</label> <span class="row_text">
						<?php if($seller['us_ad']) echo $seller['us_ad'];else echo '无' ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">手机：</label> <span class="row_text">
						<?php echo $seller['us_ph'] ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">QQ：</label> <span class="row_text">
						<?php if($seller['us_qq']) echo $seller['us_qq'];else echo '无' ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">电子邮箱：</label> <span class="row_text">
						<?php if($seller['us_em']) echo $seller['us_em'];else echo '无' ?>
					</span>
				</div>
				<div class="row_in">
					<label class="row_name">微信：</label> <span class="row_text">
						<?php if($seller['us_wx']) echo $seller['us_wx'];else echo '无' ?>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>