<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>广工二手书网</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script src="__PUBLIC__/js/require.js" data-main="__PUBLIC__/js/main"
	defer async="true"></script>
</head>
<body>

	<div class="headerBar">
		<!-- 顶部导航 -->
		<div class="topBar">
			<div class="comWidth">
				<div class="leftArea">
					欢迎来<a href="__APP__">广工二手书网</a>！ &nbsp;
					<?php if(!session('us_id')) echo '<a href="__APP__/home/Login">登录</a> <a href="__APP__/home/Register">免费注册</a>'; else echo session('us_id').' '.'<a href="__APP__/home/Login/logout">退出登录</a>'; ?>
				</div>
				<div class="rightArea">
					<ul>
						<li><a href="__APP__/home/Sale">发布二手书</a></li>
						<li><a href="__APP__/home/Collection">收藏夹</a></li>
						<li><a href="__APP__/home/Center">个人中心 </a></li>
						<li>
							<?php if(session('us_id')) echo '<a href="__APP__/home/Center">你有[ '.$amount.' ]条未读通知 </a>'; ?>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 搜索栏 -->
		<div class="logoBar comWidth">
			<div class="logo fl">
				<a href="__APP__"><img src="__PUBLIC__/images/logo.png"
					alt="广工二手书网"></a>
			</div>
			<div class="searchBox fl">
				<form method="get" action="__APP__/home/Search/search">
					<input type="text" class="search_text" name="keyword"> <input
						type="submit" class="search_btn" value="搜索">
				</form>
			</div>
			<div class="qrcode fr">
				<a href="#"><img src="__PUBLIC__/images/erweima.png" alt=""></a>
			</div>
		</div>
		<!-- 页面导航 -->
		<div class="nav_top">
			<div class="comWidth">
				<ul>
					<li class="all"><span>全部商品分类</span><i></i></li>
					<li><a href="__APP__">首页</a></li>
					<li><a href="#">书店区</a></li>
					<li><a href="#">资讯</a></li>
					<li><a href="#">社区</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- 内容 -->
	<div class="content comWidth">
		<!-- 左侧 -->
		<div class="content_left fl">
			<div class="sideMenu">
				<div class="con s_head">图书分类</div>
				<div class="con s_body">
					<?php foreach($subtype as $k => $v){ ?>
					<div class="level-one">
						<a
							href="__APP__/home/List/index/<?php echo $v['ty_nu'] ?>/<?php echo $v['su_nu'] ?>"><span>
								<?php echo $v['su_na'] ?>
						</span></a>
					</div>
					<?php } ?>
					<div class="level-one last"></div>
				</div>
			</div>
		</div>
		<!-- 中间 -->
		<div class="content_middle fl">
			<!-- t图片轮播 -->
			<div id="container">
				<div id="list">
					<img src="__PUBLIC__/images/1.jpg" alt=""> <img
						src="__PUBLIC__/images/2.jpg" alt=""> <img
						src="__PUBLIC__/images/3.jpg" alt=""> <img
						src="__PUBLIC__/images/4.jpg" alt=""> <img
						src="__PUBLIC__/images/5.jpg" alt="">
				</div>
				<div id="c-button">
					<ul id="buttons">
						<li class="on" index="1"><span>1</span></li>
						<li index="2"><span>2</span></li>
						<li index="3"><span>3</span></li>
						<li index="4"><span>4</span></li>
						<li index="5"><span>5</span></li>
					</ul>
				</div>
			</div>
			<!-- 新书推荐 -->
			<div class="new_book">
				<div class="new_book_title"></div>
				<div class="roll">
					<div class="btn_next"></div>
					<div class="btn_pre"></div>
					<ul class="min_btn">
						<li index="1" class="min_on"></li>
						<li index="2"></li>
						<li index="3"></li>
						<li index="4"></li>
					</ul>
					<div class="over">
						<ul>
							<li class="rollitem">
								<ul class="product">
									<?php foreach($bookList1 as $k => $v){ ?>
									<li><a
										href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>"><img
											src="__PUBLIC__/images/book/<?php echo $v['bo_co'] ?>" alt=""
											height="150" width="150"></a>
										<p class="name">
											<a href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>">
												<?php echo $v['bo_na'] ?>
											</a>
										</p>
										<p class="author">
											<?php echo $v['bo_au'] ?>
										</p></li>
									<?php } ?>
								</ul>
							</li>
							<li class="rollitem">
								<ul class="product">
									<?php foreach($bookList2 as $k => $v){ ?>
									<li><a
										href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>"><img
											src="__PUBLIC__/images/book/<?php echo $v['bo_co'] ?>" alt=""
											height="150" width="150"></a>
										<p class="name">
											<a href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>">
												<?php echo $v['bo_na'] ?>
											</a>
										</p>
										<p class="author">
											<?php echo $v['bo_au'] ?>
										</p></li>
									<?php } ?>
								</ul>
							</li>
							<li class="rollitem">
								<ul class="product">
									<?php foreach($bookList3 as $k => $v){ ?>
									<li><a
										href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>"><img
											src="__PUBLIC__/images/book/<?php echo $v['bo_co'] ?>" alt=""
											height="150" width="150"></a>
										<p class="name">
											<a href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>">
												<?php echo $v['bo_na'] ?>
											</a>
										</p>
										<p class="author">
											<?php echo $v['bo_au'] ?>
										</p></li>
									<?php } ?>
								</ul>
							</li>
							<li class="rollitem">
								<ul class="product">
									<?php foreach($bookList4 as $k => $v){ ?>
									<li><a
										href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>"><img
											src="__PUBLIC__/images/book/<?php echo $v['bo_co'] ?>" alt=""
											height="150" width="150"></a>
										<p class="name">
											<a href="__APP__/home/Book/index/<?php echo $v['bo_nu']?>">
												<?php echo $v['bo_na'] ?>
											</a>
										</p>
										<p class="author">
											<?php echo $v['bo_au'] ?>
										</p></li>
									<?php } ?>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- 右侧 -->
		<div class="content_right fl">
			<!-- 畅销榜 -->
			<div class="hot_sell">
				<div class="title">
					<h3>畅销榜</h3>
				</div>
				<div class="list">
					<div class="tag_box">
						<div class="hot_head" id="hot_head">
							<ul>
								<li class="on"><a href=""><span>总榜</span></a></li>
								<li><a href=""><span>教科书</span></a></li>
								<li><a href=""><span>工具书</span></a></li>
								<li><a href=""><span>小说</span></a></li>
							</ul>
						</div>
						<div class="hot_content tag1">
							<div class="content_tab">
								<div class="hot_list">
									<ul>
										<li class="bar line1 hidden" type="bar"><span>1</span>
											<p>
												<a href="">罗辑思维 : 成大事者不纠结</a>
											</p></li>
										<li class="item line1" type="item"><span>1</span> <a
											href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-1.jpg" alt=""></a>
											<p class="name">
												<a href="">罗辑思维 : 成大事者不纠结</a>
											</p>
											<p class="author">罗振宇</p></li>
										<li class="bar line2" type="bar"><span>2</span>
											<p>
												<a href="">我们都一样，年轻又彷徨</a>
											</p></li>
										<li class="item line2" style="display: none" type="item">
											<span>2</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-2.jpg" alt=""></a>
											<p class="name">
												<a href="">我们都一样，年轻又彷徨</a>
											</p>
											<p class="author">苑子文，苑子豪</p>
										</li>
										<li class="bar line3" type="bar"><span>3</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line3" style="display: none" type="item">
											<span>3</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line4" type="bar"><span>4</span>
											<p>
												<a href="">马嘉恺幻想电影院</a>
											</p></li>
										<li class="item line4" style="display: none" type="item">
											<span>4</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-4.jpg" alt=""></a>
											<p class="name">
												<a href="">马嘉恺幻想电影院</a>
											</p>
											<p class="author">马嘉恺</p>
										</li>
										<li class="bar line5" type="bar"><span>5</span>
											<p>
												<a href="">爱的十万个为什么 </a>
											</p></li>
										<li class="item line5" style="display: none" type="item">
											<span>5</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-5.jpg" alt=""></a>
											<p class="name">
												<a href="">爱的十万个为什么 </a>
											</p>
											<p class="author">杨冰阳</p>
										</li>
										<li class="bar line6" type="bar"><span>6</span>
											<p>
												<a href="">考研英语词汇词根+联想记忆法乱序版 </a>
											</p></li>
										<li class="item line6" style="display: none" type="item">
											<span>6</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-6.jpg" alt=""></a>
											<p class="name">
												<a href="">考研英语词汇词根+联想记忆法乱序版 </a>
											</p>
											<p class="author">俞敏洪</p>
										</li>
										<li class="bar line7" type="bar"><span>7</span>
											<p>
												<a href="">我们都一样，年轻又彷徨</a>
											</p></li>
										<li class="item line7" style="display: none" type="item">
											<span>7</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-2.jpg" alt=""></a>
											<p class="name">
												<a href="">时光会记得</a>
											</p>
											<p class="author">独木舟</p>
										</li>
										<li class="bar line8" type="bar"><span>8</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line8" style="display: none" type="item">
											<span>8</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line9" type="bar"><span>9</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line9" style="display: none" type="item">
											<span>9</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line10" type="bar"><span>10</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line10" style="display: none" type="item">
											<span>10</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="hot_content tag2" style="display: none">
							<div class="content_tab">
								<div class="hot_list">
									<ul>
										<li class="bar line1 hidden" type="bar"><span>1</span>
											<p>
												<a href="">罗辑思维 : 成大事者不纠结</a>
											</p></li>
										<li class="item line1" type="item"><span>1</span> <a
											href="" class="img"><img
												src="__PUBLIC__/images/book/hot-2-1.jpg" alt=""></a>
											<p class="name">
												<a href="">罗辑思维 : 成大事者不纠结</a>
											</p>
											<p class="author">罗振宇</p></li>
										<li class="bar line2" type="bar"><span>2</span>
											<p>
												<a href="">我们都一样，年轻又彷徨</a>
											</p></li>
										<li class="item line2" style="display: none" type="item">
											<span>2</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-2.jpg" alt=""></a>
											<p class="name">
												<a href="">我们都一样，年轻又彷徨</a>
											</p>
											<p class="author">苑子文，苑子豪</p>
										</li>
										<li class="bar line3" type="bar"><span>3</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line3" style="display: none" type="item">
											<span>3</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line4" type="bar"><span>4</span>
											<p>
												<a href="">马嘉恺幻想电影院</a>
											</p></li>
										<li class="item line4" style="display: none" type="item">
											<span>4</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-4.jpg" alt=""></a>
											<p class="name">
												<a href="">马嘉恺幻想电影院</a>
											</p>
											<p class="author">马嘉恺</p>
										</li>
										<li class="bar line5" type="bar"><span>5</span>
											<p>
												<a href="">爱的十万个为什么 </a>
											</p></li>
										<li class="item line5" style="display: none" type="item">
											<span>5</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-5.jpg" alt=""></a>
											<p class="name">
												<a href="">爱的十万个为什么 </a>
											</p>
											<p class="author">杨冰阳</p>
										</li>
										<li class="bar line6" type="bar"><span>6</span>
											<p>
												<a href="">考研英语词汇词根+联想记忆法乱序版 </a>
											</p></li>
										<li class="item line6" style="display: none" type="item">
											<span>6</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-6.jpg" alt=""></a>
											<p class="name">
												<a href="">考研英语词汇词根+联想记忆法乱序版 </a>
											</p>
											<p class="author">俞敏洪</p>
										</li>
										<li class="bar line7" type="bar"><span>7</span>
											<p>
												<a href="">我们都一样，年轻又彷徨</a>
											</p></li>
										<li class="item line7" style="display: none" type="item">
											<span>7</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-2.jpg" alt=""></a>
											<p class="name">
												<a href="">时光会记得</a>
											</p>
											<p class="author">独木舟</p>
										</li>
										<li class="bar line8" type="bar"><span>8</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line8" style="display: none" type="item">
											<span>8</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line9" type="bar"><span>9</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line9" style="display: none" type="item">
											<span>9</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
										<li class="bar line10" type="bar"><span>10</span>
											<p>
												<a href="">没有女人的男人们</a>
											</p></li>
										<li class="item line10" style="display: none" type="item">
											<span>10</span> <a href="" class="img"><img
												src="__PUBLIC__/images/book/hot-1-3.jpg" alt=""></a>
											<p class="name">
												<a href="">没有女人的男人们</a>
											</p>
											<p class="author">村上春树</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>