<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>个人中心</title>
<link href="__PUBLIC__/css/reset.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
	<div class="headerBar">
		<!-- 顶部导航 -->
		<div class="topBar">
			<div class="comWidth">
				<div class="leftArea">
					欢迎来<a href="__APP__">广工二手书网</a>！ &nbsp;
					<?php if(!session('us_id')) echo '<a href="__APP__/home/Login">登录</a> <a href="__APP__/home/Register">免费注册</a>'; else echo session('us_id').' '.'<a href="__APP__/home/Login/logout">退出登录</a>'; ?>
				</div>
				<div class="rightArea">
					<ul>
						<li><a href="__APP__/home/Sale">发布二手书</a></li>
						<li><a href="__APP__/home/Collection">收藏夹</a></li>
						<li><a href="__APP__/home/Center">个人中心</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 搜索栏 -->
		<div class="logoBar comWidth">
			<div class="logo fl">
				<a href="__APP__"><img src="__PUBLIC__/images/logo.png"
					alt="广工二手书网"></a>
			</div>
			<div class="searchBox fl">
				<form method="get" action="__APP__/home/Search/search">
					<input type="text" class="search_text" name="keyword"> <input
						type="submit" class="search_btn" value="搜索">
				</form>
			</div>
			<div class="qrcode fr">
				<a href="#"><img src="__PUBLIC__/images/erweima.png" alt=""></a>
			</div>
		</div>
		<!-- 页面导航 -->
		<div class="nav_top">
			<div class="comWidth">
				<ul>
					<li class="all"><span>全部商品分类</span><i></i></li>
					<li><a href="__APP__">首页</a></li>
					<li><a href="#">书店区</a></li>
					<li><a href="#">资讯</a></li>
					<li><a href="#">社区</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content comWidth">
		<!--导航-->
		<div class="breadcrumb">
			<a href="__APP__">广工二手书网</a> <span>></span>个人中心
		</div>
		<div class="main_frame fl">
			<div class="my_left fl">
				<h3 class="my_left_title">我的交易</h3>
				<ul class="my_left_content">
					<li><a href="__APP__/home/Sell">我的发布</a></li>
					<li><a href="__APP__/home/Buy">我的交易</a></li>
					<li><a href="__APP__/home/Collection">我的收藏</a></li>
				</ul>
				<h3 class="my_left_title">个人信息</h3>
				<ul class="my_left_content">
					<li><a href="__APP__/home/Information">个人档案</a></li>
					<li><a href="__APP__/home/Password">修改密码</a></li>
					<li><a href="__APP__/home/Center">站内通知</a></li>
				</ul>
			</div>
			<div class="message_box fl">
				<?php foreach($notice as $k => $v){ ?>
				<div class="my_message">
					<?php if($v['no_st'] == 0) echo '<div class="message_title">'; else echo '<div class="message_title_a">'; ?>
					<a href="#" id="<?php echo $v['no_nu'] ?>">
						<?php echo ($k+1).'. '; ?>您有一笔新交易未处理
					</a>
				</div>
				<div class="message_inner">
					<div class="message_content">
						<?php echo $v['no_co']; ?>
					</div>
					<div class="message_operation">
						<span><a
							href="__APP__/home/Center/delete/<?php echo $v['no_nu'] ?>">[删除]</a></span>
					</div>
				</div>
			</div>
			<?php } ?>
		</div>
	</div>
	</div>
	<script>
		$(function() {
			$(".message_title").click(
					function() {
						var id = $(this).children('a').attr('id');
						$.getJSON('Center/read/' + id);
						$(this).siblings(".message_inner")
								.slideToggle("normal");
						$(this).toggleClass("open")
								.removeClass("message_title").addClass(
										"message_title_a")
					})
			$(".message_title_a").click(function() {
				$(this).siblings(".message_inner").slideToggle("normal");
			})
		})
	</script>
</body>
</html>